#section-five {
}

#sec-five-inner {
  position: relative;
}

#sec-five-slider-wrapper {
  background: $bluedark;
  padding: 57px 30px;
  position: relative;
  @include mq(small_tablet) {
    padding: 113px 30px;
    overflow: hidden;
  }
  &::after {
    @include mq(small_tablet) {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1312px 0 0 540px;
      border-color: transparent transparent transparent $red;
      @include abs(0, null, null, 0);
      @include contentdisplay();
    }
  }
  .slick-list {
    @include mq(small_tablet) {
      z-index: 1;
    }
  }
}

#sec-five-slider {
  @include mq(small_tablet) {
    max-width: 565px;

    @include margin_lr();
  }
}

.sec-five-slide {
  color: $white;
  position: relative;
  padding-top: 1px;
  z-index: 2;

  img.sec-five-slide-quote {
    @include abs(0, null, null, 0);
    @include box(117px, auto);
  }
  .sec-five-slide-inner {
    padding-left: 65px;
  }
  span {
    display: block;
    position: relative;
    z-index: 1;
    &.sec-five-slide-title {
      margin-top: 35px;
      @include type(
        (
          size: 35px,
          height: 40px,
          family: $secondaryfont,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        @include quick_type(40px, 45px, null);
      }
    }
    &.sec-five-slide-descrip {
      padding-top: 15px;
      @include type(
        (
          size: 17px,
          height: 28px,
          family: $primaryfont,
        )
      );
      @include mq(small_tablet) {
        padding-right: 60px;
      }
    }
    &.sec-five-slide-name {
      display: inline-block;
      margin-top: 25px;
      @include type(
        (
          size: 17px,
          height: 20px,
          family: $primaryfont,
          weight: 700,
        )
      );
      @include mq(small_tablet) {
        margin-top: 45px;
        @include flex(flex-end);
      }
      &::before {
        background: $red;
        vertical-align: top;
        margin-top: 9px;
        margin-right: 12px;
        @include box(47px, 3px);
        @include contentdisplay(inline-block, "");
      }
    }
    &.sec-five-icon-title {
      @include type(
        (
          size: 17px,
          height: 20px,
          family: $primaryfont,
          weight: 700,
        )
      );
    }
  }
  .sec-five-slide-icon-wrapper {
    margin-top: 48px;
    @include flex(null, center);
    @include mq(small_tablet) {
      margin-top: 28px;
      @include flex(flex-end, center);
    }
    img {
      margin-right: 5px;
    }
  }
}

.sec-five-image-wrapper {
  position: relative;
  @include flex(space-between);
  @include mq(small_tablet) {
    position: static;
    @include flex(flex-end);
  }
}

.sec-five-arrow {
  flex-basis: 49.8%;
  margin-top: 8px;
  background: $bluelight;
  padding: 18px 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  @include mq(small_tablet) {
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    @include box(60px, 60px);
  }
  &:hover {
    background: $grey;
  }
}

#sec-five-arrow-left {
  order: 2;
  @include mq(small_tablet) {
    left: 0;
  }
  img {
    transform: rotate(180deg);
  }
}

#sec-five-arrow-right {
  order: 3;
  @include mq(small_tablet) {
    right: 0;
  }
}
