#section-five {
}

#sec-five-content {
  text-align: center;
  padding: 0 0 34px;
  @include mq(small_tablet) {
    padding: 0 0 64px;
  }
  @include mq(small_laptop) {
    max-width: 1010px;
    padding: 0 0 55px;
    @include margin_lr();
    @include flex(flex-start, center);
  }
  @include mq(large_laptop) {
    max-width: 1190px;
    padding: 0 0 75px;
  }
  @include mq(monitor) {
    max-width: 1510px;
  }
  span {
    display: block;
    &#sec-five-title {
      padding: 0 20px;
      max-width: 300px;
      @include margin_lr();
      @include type(
        (
          size: 35px,
          height: 38px,
          family: $secondaryfont,
          weight: 800,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        max-width: 100%;
      }
      @include mq(small_laptop) {
        padding: 0px 4px 0 20px;
        @include flex();
        flex-shrink: 0;
      }
      @include mq(monitor) {
        padding: 0px 4px 0 45px;
      }

      &::after {
        background: $grey;
        margin-top: 15px;
        @include margin_lr();
        @include box(80px, 4px);
        @include contentdisplay();
        @include mq(small_laptop) {
          @include margin_lr(18px);
        }
        @include mq(large_laptop) {
          @include box(118px, 4px);
        }
        @include mq(monitor) {
          margin-left: 13px;
          margin-right: 13px;
        }
      }
    }
    &#sec-five-descrip {
      max-width: 280px;
      margin-top: 18px;
      margin-bottom: 30px;
      @include margin_lr();
      @include type(
        (
          size: 18px,
          height: 21px,
          family: $primaryfont,
          color: $bluelight,
        )
      );
      @include mq(small_tablet) {
        max-width: 355px;
      }
      @include mq(small_laptop) {
        margin-left: 0;
        margin-top: 0px;
        margin-right: 25px;
        position: relative;
        top: 13px;
        text-align: left;
        max-width: 280px;
      }
      @include mq(large_laptop) {
        max-width: 428px;
        margin-right: 20px;
      }
      @include mq(monitor) {
        max-width: 100%;
        margin-right: 134px;
      }
      // @include mq(monitor) {
      //   padding-left: 20px;
      //   margin-right: 112px;
      // }
    }
  }
}

#sec-five-button {
  padding: 14px 17px;
}

#sec-five-inner {
  position: relative;
  @include mq(small_laptop) {
    background: $bluedark;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    background: transparent;
  }
}

#sec-five-slider-wrapper {
  background: $bluedark;
  padding: 57px 30px;
  position: relative;
  @include mq(small_tablet) {
    padding: 113px 30px;
    overflow: hidden;
  }
  @include mq(small_laptop) {
    padding: 144px 0px 120px;
    flex-grow: 1;
  }
  @include mq(large_laptop) {
    padding: 104px 0px 120px;
    min-height: 700px;
    flex-grow: 0;
    width: calc(100% - 300px);
  }
  &::after {
    @include mq(small_tablet) {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1312px 0 0 540px;
      border-color: transparent transparent transparent $red;
      @include abs(0, null, null, 0);
      @include contentdisplay();
    }
  }
  .slick-list {
    @include mq(small_tablet) {
      z-index: 1;
    }
  }
}

#sec-five-slider {
  @include mq(small_tablet) {
    max-width: 565px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    max-width: 580px;
    @include margin_lr(0);
    margin-left: 145px;
  }
  @include mq(large_laptop) {
    max-width: 745px;
    width: calc(100% - 515px);
  }
  @include mq(monitor) {
    margin-left: 19%;
    width: calc(100% - 945px);
  }
}

.sec-five-slide {
  color: $white;
  position: relative;
  padding-top: 1px;
  z-index: 2;

  img.sec-five-slide-quote {
    @include abs(0, null, null, 0);
    @include box(117px, auto);
  }
  .sec-five-slide-inner {
    @include mq(small_tablet) {
      padding-left: 65px;
    }
    @include mq(small_laptop) {
      padding-left: 80px;
    }
  }
  span {
    display: block;
    position: relative;
    z-index: 1;
    &.sec-five-slide-title {
      margin-top: 35px;
      @include type(
        (
          size: 35px,
          height: 40px,
          family: $secondaryfont,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        @include quick_type(40px, 45px, null);
      }
      @include mq(small_laptop) {
        @include quick_type(43px, 45px, null);
      }
      @include mq(monitor) {
        @include quick_type(50px, 55px, null);
      }
    }
    &.sec-five-slide-descrip {
      padding-top: 15px;
      @include type(
        (
          size: 17px,
          height: 28px,
          family: $primaryfont,
        )
      );
      @include mq(small_tablet) {
        padding-right: 60px;
      }
      @include mq(small_laptop) {
        padding-right: 0px;
      }
    }
    &.sec-five-slide-name {
      display: inline-block;
      margin-top: 25px;
      @include type(
        (
          size: 17px,
          height: 20px,
          family: $primaryfont,
          weight: 700,
        )
      );
      @include mq(small_tablet) {
        margin-top: 40px;
        @include flex(flex-end);
      }
      @include mq(small_laptop) {
        margin-top: 28px;
        @include flex(flex-start);
      }
      &::before {
        background: $red;
        vertical-align: top;
        margin-top: 9px;
        margin-right: 12px;
        @include box(47px, 3px);
        @include contentdisplay(inline-block, "");
        @include mq(small_laptop) {
          background: #fff;
        }
        @include mq(large_laptop) {
          background: $red;
        }
      }
    }
    &.sec-five-icon-title {
      @include type(
        (
          size: 17px,
          height: 20px,
          family: $primaryfont,
          weight: 700,
        )
      );
    }
  }
  .sec-five-slide-icon-wrapper {
    margin-top: 48px;
    @include flex(null, center);
    @include mq(small_tablet) {
      margin-top: 28px;
      @include flex(flex-end, center);
    }
    @include mq(small_laptop) {
      margin-top: 40px;
    }
    @include mq(monitor) {
      margin-top: 80px;
    }
    img {
      margin-right: 5px;
    }
  }
}

.sec-five-image-wrapper {
  position: relative;
  @include flex(space-between);
  @include mq(small_tablet) {
    position: static;
    @include flex(flex-end);
  }
  @include mq(small_laptop) {
    flex-basis: 360px;
    flex-shrink: 0;
    height: 470px;
    margin-top: 115px;
    position: relative;
    @include flex(flex-start);
  }
  @include mq(large_laptop) {
    flex-basis: 533px;
    height: 575px;
    margin-top: 65px;
    @include abs(0, 0, null, null);
  }
  @include mq(monitor) {
    flex-basis: 740px;
    height: 575px;
  }
  #sec-five-image {
    display: none;
    @include mq(small_laptop) {
      display: block;
      position: relative;
      @include box(360px, 470px);
    }
    @include mq(large_laptop) {
      @include box(533px, 575px);
    }
    @include mq(monitor) {
      @include box(740px, 575px);
    }
    img {
      width: 100%;
      @include abs(0, null, null, 0);
      @include mq(small_laptop) {
        left: 0px;
      }
    }
  }
}

.sec-five-arrow {
  flex-basis: 49.8%;
  margin-top: 8px;
  background: $red;
  padding: 18px 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  @include mq(small_tablet) {
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    @include box(60px, 60px);
  }
  @include mq(small_tablet) {
    background: $bluelight;
  }
  &:hover {
    background: $grey;
  }
}

#sec-five-arrow-left {
  order: 2;
  @include mq(small_tablet) {
    left: 0px;
  }
  @include mq(small_laptop) {
    order: 1;
    top: 66px;
    left: -60px;
  }
  img {
    transform: rotate(180deg);
  }
}

#sec-five-arrow-right {
  order: 3;
  @include mq(small_tablet) {
    right: 0;
  }
  @include mq(small_laptop) {
    order: 2;
    right: auto;
    left: -60px;
    top: -66px;
  }
}
