#about-banner {
  @include mq(small_laptop) {
    background: $bluedark;
  }
}

#about-banner-content {
  @include mq(small_laptop) {
    padding: 200px 55px 0;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 200px 75px 0;
  }
  @media screen and (min-width: 1550px) {
    max-width: 1600px;
    @include margin_lr();
  }
}

#about-banner-top {
  background: $bluedark;
  padding: 175px 40px 115px;
  @include mq(small_tablet) {
    padding: 175px 40px 165px;
  }
  @include mq(small_laptop) {
    order: 2;
    background: transparent;
    padding: 0px 0px 45px 50px;
  }
  @media screen and (min-width: 1550px) {
    padding: 0px 0px 45px 82px;
  }
}

a.about-button {
  max-width: 292px;
  padding: 22px 20px;
  font-size: 17px;
  @include margin_lr();
  @include mq(small_laptop) {
    @include margin_lr(0);
  }
}

#about-banner-bottom {
  padding: 0px 40px;
  margin-top: -80px;
  margin-bottom: 10px;
  max-width: 555px;
  @include margin_lr();
  @include mq(small_tablet) {
    margin-top: -135px;
  }
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 360px;
    order: 1;
    margin-top: 0;
    position: relative;
    @include margin_lr(0);
  }
  @include mq(large_laptop) {
    flex-basis: 410px;
  }
  @media screen and (min-width: 1550px) {
    flex-basis: 556px;
  }
}

#about-banner-img {
  @include mq(small_laptop) {
    @include abs(0, null, null, 0);
  }
  img {
    @include image();
  }
}

span.about-title {
  display: block;
  margin-bottom: 20px;
  max-width: 560px;
  @include margin_lr();
  @include type(
    (
      size: 40px,
      height: 45px,
      family: $secondaryfont,
      color: $white,
      weight: 800,
      align: center,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(50px, 60px, null);
  }
  @include mq(small_laptop) {
    text-align: left;
    max-width: 100%;
    @include quick_type(60px, 65px, null);
  }
}

body.page-template-template-about {
  .content {
    h2 {
      @include mq(small_tablet) {
        @include quick_type(25px, 33px, null);
      }
    }
    blockquote {
      @include mq(small_tablet) {
        padding-left: 95px;
        padding-right: 50px;
        margin-top: 78px;
        @include quick_type(40px, 50px, null);
      }
      @include mq(small_laptop) {
        margin-top: 38px;
      }
      @include mq(large_laptop) {
        padding-right: 120px;
      }
      @media screen and (min-width: 1550px) {
        padding-right: 149px;
      }
    }
  }
}

#page-container {
  &.about-container {
    @media screen and (min-width: 1550px) {
      max-width: 1600px;
      padding-right: 145px;
      @include margin_lr();
    }
  }
}

#page-content-top {
  @include mq(small_tablet) {
    margin-top: -35px;
  }
  @include mq(small_laptop) {
    padding-left: 405px;
    margin-top: -70px;
  }
  @include mq(large_laptop) {
    padding-left: 457px;
  }
  @media screen and (min-width: 1550px) {
    padding-left: 635px;
  }
}

#page-content-middle {
  margin-top: 40px;
  @include mq(small_laptop) {
    padding-bottom: 40px;
    @include flex(center, center);
  }
  @include mq(large_laptop) {
    padding-bottom: 81px;
    margin-top: 75px;
  }
  @media screen and (min-width: 1550px) {
    margin-top: 110px;
    max-width: 1340px;
    @include margin_lr();
  }
}

#page-content-middle-img {
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 600px;
  @include margin_lr();
  @include mq(small_tablet) {
    padding-bottom: 70px;
  }
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 500px;
    padding-bottom: 0;
  }
  @include mq(large_laptop) {
    flex-basis: 600px;
  }
  img {
    @include image();
  }
}

#page-content-bottom {
  text-align: center;
  @include mq(small_laptop) {
    max-width: 783px;
    @include margin_lr();
  }

  h2 {
  }
}
