.contact-title {
  &::after {
    background: $red;
    margin-top: 10px;
    margin-bottom: 15px;
    @include margin_lr();
    @include box(76px, 3px);
    @include contentdisplay();
    @include mq(small_tablet) {
      margin-bottom: 25px;
    }
  }
}

span#contact-description {
  display: block;
  max-width: 390px;
  @include margin_lr();
  @include type(
    (
      size: 15px,
      height: 21px,
      family: $primaryfont,
      color: $white,
      weight: 700,
      align: center,
    )
  );
  @include mq(small_tablet) {
    padding-bottom: 15px;
  }
}

#contact-info-inner {
  margin-bottom: -45px;
  @include mq(small_tablet) {
    display: grid;
    grid-template-columns: 191px 140px 191px;
    grid-template-rows: auto;
    gap: 0px 75px;
    grid-template-areas:
      "contact-info-row-one contact-info-row-three contact-info-row-two"
      "contact-info-row-one contact-info-row-four contact-info-row-two";
    max-width: 328px;
    @include margin_lr();
  }
  @include mq(small_tablet) {
    max-width: 674px;
  }
  @include mq(small_laptop) {
  }
  @include mq(large_laptop) {
    max-width: 820px;
    gap: 0px 145px;
  }
  @include mq(small_monitor) {
    //max-width: 345px;
  }
}

.contact-info-row {
  margin-bottom: 45px;
  text-align: center;
  span {
    display: block;
    &.contact-info-subtitle {
      margin-bottom: 7px;
      @include type(
        (
          size: 18px,
          height: 20px,
          family: $secondaryfont,
          color: $red,
          transform: uppercase,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        margin-bottom: 15px;
      }
    }
    &.contact-info-content {
      @include margin_lr();
      @include type(
        (
          size: 17px,
          height: 25px,
          family: $primaryfont,
        )
      );
      @include mq(small_tablet) {
        max-width: 185px;
      }
      a {
        color: $bluedark;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $red;
        }
      }
    }
  }
  a.directions,
  .available {
    display: inline-block;
    margin-top: 9px;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 13px,
        height: 17px,
        family: $secondaryfont,
        color: $grey,
        weight: 800,
        spacing: 1.3px,
        transform: uppercase,
      )
    );
    &:hover {
      color: $red;
    }
  }
  .available {
    color: $bluedark;
  }
  a.social-icon {
    margin: 5px 12px 0;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    svg {
      height: 25px;
      path {
        fill: $bluedark;
        transition: all 200ms ease-in-out;
      }
    }
    &:hover {
      svg {
        path {
          fill: $red;
        }
      }
    }
  }
}

.contact-info-row-inner {
}

.contact-info-row-one {
  grid-area: contact-info-row-one;
  @include mq(small_tablet) {
    margin-top: 60px;
  }
}
.contact-info-row-two {
  grid-area: contact-info-row-two;
  @include mq(small_tablet) {
    margin-top: 60px;
  }
}
.contact-info-row-four {
  grid-area: contact-info-row-four;
  @include mq(small_tablet) {
    margin-top: 20px;
  }
  span.contact-info-subtitle {
  }
}
.contact-info-row-three {
  grid-area: contact-info-row-three;
}
