.button-one {
  border: 1px solid $red;
  display: block;
  position: relative;
  padding: 27px 20px;
  transition: border 200ms ease-in-out;
  @include type(
    (
      size: 18px,
      height: 20px,
      family: $secondaryfont,
      color: $white,
      weight: 500,
      spacing: 0.9px,
      align: center,
      transform: capitalize,
    )
  );
  @include mq(small_laptop) {
    @include quick_type(20px, 20px, null);
  }
  &::before,
  &::after {
    @include abs(9px, null, null, 9px, -1);
    @include box(calc(100% - 18px), calc(100% - 18px));
    @include contentdisplay();
  }
  &::before {
    background: $red;
  }
  &::after {
    background: $grey;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &:hover {
    border: 1px solid $grey;
    &::after {
      opacity: 1;
    }
  }
}

.page-button.button-one {
  font-size: 15px;
  max-width: 245px;
  padding: 18px 20px;
  margin-bottom: 35px;
  @include margin_lr();
}

.banner-button.button-one {
  display: none;
}

.button-two {
  background: $red;
  display: inline-block;
  padding: 14px 23px;
  box-shadow: 0px 3px 10px #c61f2080;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 17px,
      family: $secondaryfont,
      color: $white,
      align: center,
    )
  );
  @include mq(small_laptop) {
    padding: 14px 16px;
  }
  &:hover {
    background: $grey;
    box-shadow: 0px 3px 10px #8e99ac;
  }
}
