.bio-banner {
  background: $bluedark;
  @include mq(small_laptop) {
    height: 400px;
  }
  @include mq(large_laptop) {
    height: 500px;
  }
}

#banner-bio-content {
  padding: 175px 40px;
  text-align: center;
  @include mq(small_tablet) {
    padding: 175px 40px 274px;
  }
  @include mq(small_laptop) {
    text-align: left;
    padding: 175px 55px;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 175px 75px;
  }
  @include mq(small_monitor) {
    max-width: 1550px;
    @include margin_lr();
  }
}

#banner-bio-spacer {
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 350px;
    margin-right: 70px;
  }
  @include mq(large_laptop) {
    flex-basis: 380px;
    margin-right: 120px;
  }
  @include mq(small_monitor) {
    flex-basis: 446px;
  }
}

#banner-bio-title-wrapper {
  @include mq(small_laptop) {
    height: 225px;
    padding-bottom: 40px;
    @include flex(flex-end, null, column);
  }
  @include mq(large_laptop) {
    height: 325px;
    padding-bottom: 70px;
  }
}

#att-title {
  position: relative;
  display: inline;
  z-index: 1;
  @include type(
    (
      size: 40px,
      height: 45px,
      family: $secondaryfont,
      color: $white,
      weight: 800,
      align: center,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(50px, 60px, null);
  }
  @include mq(small_laptop) {
    text-align: left;
    @include quick_type(60px, 65px, null);
  }
  @include mq(large_laptop) {
    margin-bottom: 5px;
  }
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 53px 59px;
    border-color: transparent transparent $red transparent;
    z-index: -1;
    @include abs(null, -17px, -5px, null);
    @include contentdisplay(inline-block, "");
    @include mq(small_tablet) {
      border-width: 0 0 63px 69px;
      @include abs(null, -17px, 2px, null);
    }
  }
}

span#att-position {
  display: block;
  @include type(
    (
      size: 25px,
      height: 33px,
      family: $primaryfont,
      color: $red,
      weight: 800,
    )
  );
}

#page-container {
  &.bio-container {
    padding-bottom: 0;
    @include mq(small_tablet) {
      padding-bottom: 40px;
    }
    @include mq(large_laptop) {
      padding-bottom: 80px;
    }
    @include mq(small_monitor) {
      max-width: 1550px;
    }
  }
}

#bio-page-content {
  margin-top: -160px;
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    margin-top: -315px;
  }
  @include mq(small_laptop) {
    order: 2;
    margin-top: -50px;
  }
  @include mq(large_laptop) {
    margin-top: -66px;
  }
  .bio-att-img-wrapper {
    @include mq(small_laptop) {
      display: none;
    }
  }
}

.bio-att-img-wrapper {
  margin-bottom: 30px;
  max-width: 445px;
  @include margin_lr();
  @include mq(small_laptop) {
    margin-bottom: 33px;
  }
  @include mq(large_laptop) {
    margin-bottom: 53px;
  }
  img {
    @include image();
  }
}

span.att-title {
  display: block;
  @include type(
    (
      size: 18px,
      height: 22px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );

  &::after {
    background: $grey;
    margin-top: 16px;
    margin-bottom: 20px;
    @include box(100%, 4px);
    @include contentdisplay();
  }
}

#client-testimonials {
  padding-top: 10px;
  @include mq(small_laptop) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @include mq(large_laptop) {
    padding-top: 100px;
  }
  blockquote {
    @include mq(large_laptop) {
      padding-top: 0px;
      padding-right: 50px;
    }
    p {
      @include mq(small_tablet) {
        @include quick_type(30px, 40px, null);
      }
    }
  }
}

#bio-sidebar-wrapper {
  padding-top: 30px;
  @include mq(small_laptop) {
    order: 1;
    flex-shrink: 0;
    flex-basis: 350px;
    margin-right: 70px;
    margin-top: -317px;
    padding-top: 0px;
    position: relative;
    z-index: 1;
  }
  @include mq(large_laptop) {
    flex-basis: 380px;
    margin-top: -360px;
    margin-right: 120px;
  }
  @include mq(small_monitor) {
    flex-basis: 446px;
  }
  .bio-att-img-wrapper {
    display: none;
    @include mq(small_laptop) {
      display: block;
    }
  }
  ul {
    margin-bottom: 50px;
    li {
      margin-bottom: 22px;
    }
  }
}

#single-client-testimonials {
  padding-top: 1px;
}
