#section-two {
  padding: 39px 40px;
  @include type(
    (
      size: 16px,
      height: 28px,
      family: $primaryfont,
      color: $bluedark,
    )
  );
  @include mq(small_tablet) {
    padding: 96px 0px 50px;
  }
  @include mq(small_laptop) {
    padding: 96px 0px 70px;
  }
  @include mq(large_laptop) {
    padding: 158px 85px 140px;
  }
  @include mq(monitor) {
    padding: 158px 85px 170px;
  }
  h1 {
    margin-bottom: 20px;
    max-width: 612px;
    @include margin_lr();
    @include type(
      (
        size: 45px,
        height: 45px,
        weight: 800,
        family: $secondaryfont,
        color: $bluedark,
        align: center,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      margin-bottom: 40px;
      max-width: 700px;
      @include quick_type(65px, 65px, null);
    }
    @include mq(small_laptop) {
      max-width: 900px;
      margin-bottom: 50px;
      @include margin_lr();
      @include quick_type(80px, 80px, null);
    }
    @include mq(large_laptop) {
      max-width: 1163px;
      margin-bottom: 98px;
      @include quick_type(100px, 100px, null);
    }
  }
}

#sec-two-inner {
  @include mq(large_laptop) {
    display: grid;
    //grid-template-columns: auto;
    //grid-template-rows: auto;
    gap: 0px 60px;
    grid-template-areas:
      "sec-two-middle sec-two-top"
      "sec-two-middle sec-two-bottom";
    max-width: 1358px;
    @include margin_lr();
  }
  @include mq(monitor) {
    gap: 0px 73px;
  }
}

#sec-two-top,
#sec-two-bottom {
  @include mq(small_tablet) {
    padding: 0px 80px;
  }
  @include mq(small_laptop) {
    padding: 0px 100px;
    max-width: 1095px;
    @include margin_lr();
  }
  @include mq(large_laptop) {
    max-width: 100%;
    padding: 0px;
    @include margin_lr(0);
  }
}

#sec-two-top {
  @include mq(large_laptop) {
    grid-area: sec-two-top;
  }
}

#sec-two-middle {
  padding-top: 5px;
  @include mq(small_tablet) {
    @include flex();
    padding: 26px 31px 0 61px;
  }
  @include mq(small_laptop) {
    padding: 39px 116px 15px 150px;
    max-width: 1215px;
    @include margin_lr();
  }
  @include mq(large_laptop) {
    display: block;
    padding: 0px 0px 0px 0px;
    max-width: 443px;
    grid-area: sec-two-middle;
    @include margin_lr(0);
  }
}

#sec-two-image-wrapper {
  position: relative;
  max-width: 360px;
  @include margin_lr();
  @include mq(small_tablet) {
    flex-basis: 305px;
    flex-shrink: 0;
    height: 304px;
    @include margin_lr(0);
  }
  @include mq(large_laptop) {
    flex-basis: 436px;
    height: 538px;
    max-width: 100%;
  }
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 110px 110px;
    border-color: transparent transparent $red transparent;
    @include abs(null, 20px, -11px, null);
    @include contentdisplay();
    @include mq(large_laptop) {
      border-width: 0 0 130px 130px;
      @include abs(null, 40px, -29px, null);
    }
  }
  #sec-two-image-inner {
    position: relative;
    padding-top: 305px / 291px * 100%;
    img#sec-two-image {
      width: 100%;
      @include abs(0, null, null, 0);
    }
  }
}

#sec-two-middle-block {
  margin-top: 43px;
  @include type(
    (
      size: 27px,
      height: 33px,
      family: $secondaryfont,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    padding-left: 25px;
    margin-top: 10px;
    @include quick_type(30px, 35px, null);
  }
  @include mq(small_laptop) {
    max-width: 595px;
    padding-left: 33px;
    @include quick_type(35px, 45px, null);
  }
  @include mq(large_laptop) {
    margin-top: 64px;
    padding-left: 0px;
  }
  p {
    margin-bottom: 10px;
  }
  strong {
    font-weight: 700;
    color: $red;
  }
}

#sec-two-bottom {
  margin-top: 55px;
  @include mq(large_laptop) {
    margin-top: 0px;
    grid-area: sec-two-bottom;
  }
}
