body {
  color: $bluedark;
}

#internal-main {
}

#page-container {
  padding: 30px 30px 47px;
}

.page-title {
  margin-bottom: 20px;
  @include type(
    (
      size: 30px,
      height: 35px,
      family: $secondaryfont,
      weight: 800,
    )
  );
}

.gform_body .gform_fields .gfield ::-webkit-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-ms-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  opacity: 1;
}
