body {
  color: $bluedark;
  top: 0 !important;
}

#internal-main {
}

body.internal-header.no-banner {
  #internal-main {
    margin-top: 137px;
    @media screen and (min-width: 675px) and (max-width: 1170px) {
      margin-top: 85px;
    }
    @include mq(small_laptop) {
      margin-top: 142px;
    }
  }
}

#page-container {
  padding: 30px 30px 47px;
  @include mq(small_tablet) {
    padding: 75px 55px 95px;
  }
  @include mq(small_laptop) {
    padding: 92px 55px 95px;
  }
  @include mq(large_laptop) {
    padding: 92px 75px 95px;
  }
  &.two-col {
    @include mq(small_laptop) {
      @include flex();
    }
    @include mq(small_monitor) {
      max-width: 1610px;
      @include margin_lr();
    }
  }
}

#page-content {
  @include mq(small_laptop) {
    order: 2;
  }
}

.page-title {
  margin-bottom: 20px;
  @include type(
    (
      size: 30px,
      height: 35px,
      family: $secondaryfont,
      weight: 800,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(45px, 45px, null);
  }
  @include mq(small_laptop) {
    @include quick_type(60px, 65px, null);
  }
}

.gform_body .gform_fields .gfield ::-webkit-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-ms-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  opacity: 1;
}
