body {
  color: $bluedark;
}

#internal-main {
}

.gform_body .gform_fields .gfield ::-webkit-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-moz-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield :-ms-input-placeholder {
  color: $bluedark;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  opacity: 1;
}
