body.page-template-template-meetteam {
  a.banner-button {
    display: none;
  }
  #banner-content {
    padding-bottom: 96px;
    @include mq(small_laptop) {
      padding-bottom: 116px;
    }
    @include mq(large_laptop) {
      padding-bottom: 178px;
    }
  }
}
#meetteam {
  margin-top: -90px;
  margin-bottom: -25px;
  @include mq(small_tablet) {
    margin-top: -130px;
    margin-bottom: -65px;
  }
  @include mq(large_laptop) {
    margin-top: -150px;
  }
}

#meetteam-top,
#meetteam-bottom {
  max-width: 400px;
  @include margin_lr();
  @include mq(small_tablet) {
    max-width: 750px;
    grid-gap: 0px 30px;
  }
  @include mq(small_laptop) {
    grid-gap: 0px 55px;
    max-width: 1065px;
  }
  @include mq(large_laptop) {
    max-width: 1250px;
    grid-gap: 0px 70px;
  }
}

#meetteam-top {
  @include mq(small_tablet) {
    @include flex(center);
  }
  @include mq(small_laptop) {
  }
}

#meetteam-bottom {
  @include mq(small_tablet) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
  }
  @include mq(small_laptop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include mq(monitor) {
    max-width: 1480px;
  }
}

.single-att {
  margin-bottom: 35px;
  @include mq(small_tablet) {
    margin-bottom: 55px;
  }
  @include mq(small_laptop) {
    margin-bottom: 95px;
  }
  @include mq(large_laptop) {
    margin-bottom: 135px;
  }
  @include mq(monitor) {
    margin-bottom: 165px;
  }
  a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 8px solid $bluedark;
    padding-bottom: 35px;

    transition: border 300ms ease-in-out;
    .single-att-img {
      position: relative;
      &.placeholder {
        &::after {
          background: $bluedark;
        }
      }
      &::after {
        background: rgba(7, 18, 28, 0.8);
        opacity: 0;
        justify-content: center;
        align-items: center;
        transition: opacity 300ms ease-in-out;
        @include abs(0, null, null, 0);
        @include box(100%, 100%);
        @include contentdisplay(flex, "View Profile");
        @include type(
          (
            size: 25px,
            height: 28px,
            family: $primaryfont,
            color: $white,
          )
        );
      }
      img {
        max-width: 446px;
        width: 100%;
        @include image();
        @include margin_lr();
        @include mq(small_laptop) {
          max-width: 318px;
        }
        @include mq(large_laptop) {
          max-width: 375px;
        }
        @include mq(monitor) {
          max-width: 445px;
        }
      }
    }
    span {
      display: block;
      &.single-att-title {
        margin-top: 15px;
        @include type(
          (
            size: 20px,
            height: 15px,
            color: $bluedark,
            family: $primaryfont,
          )
        );
      }
      &.single-att-position {
        margin-top: 10px;
        @include type(
          (
            size: 17px,
            height: 20px,
            family: $primaryfont,
            weight: 700,
            color: $red,
            transform: uppercase,
          )
        );
      }
    }
    &:hover {
      border-bottom: 8px solid $red;
      .single-att-img {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
