footer {
  background: $bluedark;
  padding-bottom: 45px;
  position: relative;
  @include mq(small_tablet) {
    padding: 1px 25px;
    margin-top: 115px;
  }
  @include mq(small_laptop) {
    padding: 1px 36px;
  }
  @include mq(large_laptop) {
    padding: 1px 64px;
  }
  @include mq(small_monitor) {
    padding: 1px 120px;
  }
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 205px 323px;
    border-color: transparent transparent $red transparent;
    @include abs(null, 0, 0px, null);
    @include contentdisplay();
    @include mq(small_laptop) {
      border-width: 0 0 413px 522px;
    }
  }
}

#footer-inner {
  position: relative;
  z-index: 1;
  @include mq(small_laptop) {
    @include flex();
  }
  @include mq(small_monitor) {
    max-width: 1680px;
    @include margin_lr();
  }
}

#footer-form-wrapper {
  background: $bluelight;
  padding: 40px 20px 55px;
  @include mq(small_tablet) {
    padding: 70px 20px 80px;
    margin-top: -111px;
    max-width: 775px;
    box-shadow: 0px 3px 10px #00000080;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    flex-basis: 722px;
    flex-shrink: 0;
  }
  @include mq(large_laptop) {
    padding: 86px 20px 80px;
    flex-basis: 795px;
    max-width: 100%;
  }
  @include mq(small_monitor) {
    flex-basis: 906px;
    padding: 105px 20px 80px;
  }
  @include mq(monitor) {
    flex-basis: 1106px;
  }
  span {
    text-align: center;
    display: block;
    &#footer-form-title {
      margin-bottom: 15px;
      @include type(
        (
          size: 35px,
          height: 40px,
          color: $white,
          family: $secondaryfont,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        margin-bottom: 27px;
        @include quick_type(50px, 50px, null);
      }
      @include mq(large_laptop) {
        margin-bottom: 14px;
      }
      @include mq(small_monitor) {
        margin-bottom: 22px;
        @include quick_type(60px, 60px, null);
      }
    }
    &#footer-form-description {
      max-width: 470px;
      @include margin_lr();
      @include type(
        (
          size: 16px,
          height: 22px,
          family: $primaryfont,
          color: $greytwo,
          weight: 700,
        )
      );
      @include mq(small_tablet) {
        @include quick_type(17px, 25px, null);
      }
    }
  }
  .gform_wrapper {
    margin-top: 30px;
    max-width: 485px;
    @include margin_lr();
    @include mq(small_tablet) {
      margin-top: 55px;
      max-width: 620px;
    }
    @include mq(monitor) {
      max-width: 850px;
    }
    .gform_fields {
      @include mq(small_tablet) {
        @include flex(space-between);
        flex-wrap: wrap;
      }
      .gfield {
        margin-bottom: 15px;
        position: relative;
        @include mq(small_tablet) {
          flex-basis: 49%;
          margin-bottom: 20px;
        }
        @include mq(small_laptop) {
          flex-basis: 48.5%;
        }
        &#field_1_5 {
          @include mq(small_tablet) {
            flex-basis: 100%;
          }
        }
        label {
          display: none;
        }
        input,
        textarea,
        select {
          border: none;
          border-radius: 6px;
          width: 100%;
          background: $white;
          padding: 23px 30px 23px 20px;
          @include type(
            (
              size: 16px,
              family: $primaryfont,
            )
          );
        }
        select {
          -webkit-appearance: none;
        }
        textarea {
          height: 213px;
        }
        .validation_message {
          @include type(
            (
              size: 13px,
              height: 22px,
              family: $primaryfont,
              color: $greytwo,
              weight: 700,
            )
          );
        }
        &.gfield_contains_required::after {
          @include type(
            (
              size: 20px,
              family: $primaryfont,
              color: $red,
              weight: 700,
            )
          );
          @include abs(27px, 13px, null, null);
          @include contentdisplay(block, "*");
        }
        .ginput_container_select {
          &::after {
            @include tri(down, 6px, 11px, $bluedark);
            @include abs(28px, 13px, null, null);
            @include contentdisplay();
          }
        }
      }
    }
  }
}

span#footer-form-required {
  display: block;

  @include type(
    (
      size: 16px,
      family: $primaryfont,
      color: $white,
      align: left,
    )
  );
  span {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    @include type(
      (
        size: 20px,
        family: $primaryfont,
        color: $red,
        weight: 700,
      )
    );
  }
}

.gform_footer {
  border: 1px solid $red;
  display: block;
  position: relative;
  transition: border 200ms ease-in-out;
  text-align: center;
  z-index: 1;
  max-width: 207px;
  margin-top: 28px;
  @include margin_lr();
  @include mq(small_tablet) {
    margin-top: 2px;
  }
  &::before,
  &::after {
    @include abs(11px, null, null, 11px, -1);
    @include box(calc(100% - 22px), calc(100% - 22px));
    @include contentdisplay();
  }
  &::before {
    background: $red;
  }
  &::after {
    background: $grey;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &:hover {
    border: 1px solid $grey;
    &::after {
      opacity: 1;
    }
  }
  input[type="submit"] {
    border: 0;
    background: transparent;
    padding: 30px 20px;
    width: 100%;
    @include type(
      (
        size: 20px,
        height: 20px,
        family: $secondaryfont,
        color: $white,
        weight: 500,
        align: center,
        spacing: 0.9px,
        transform: capitalize,
      )
    );
  }
}

#footer-info-wrapper {
  text-align: center;
  padding: 50px 40px 0;
  @include mq(small_tablet) {
    padding: 55px 40px 0;
    text-align: left;
  }
  @include mq(small_laptop) {
    flex-grow: 1;
    padding: 110px 25px 0;
  }
  @include mq(large_laptop) {
    padding: 166px 25px 0;
  }
  span {
    display: block;
    &#footer-info-title {
      max-width: 182px;
      @include margin_lr();
      @include type(
        (
          size: 35px,
          height: 35px,
          family: $secondaryfont,
          weight: 800,
          color: $white,
          transform: uppercase,
        )
      );
      @media screen and (min-width: 475px) {
        max-width: 100%;
      }
      @include mq(small_tablet) {
        text-align: center;
      }
      &::after {
        background: $red;
        margin-top: 20px;
        margin-bottom: 33px;
        @include margin_lr();
        @include box(118px, 3px);
        @include contentdisplay();
        @include mq(small_tablet) {
          margin-bottom: 40px;
        }
        @include mq(small_monitor) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

#footer-info-inner {
  @include mq(small_tablet) {
    display: grid;
    grid-template-columns: 175px 140px 150px;
    grid-template-rows: auto;
    gap: 0px 75px;
    grid-template-areas:
      "footer-info-row-one footer-info-row-two footer-info-row-three"
      "footer-info-row-one footer-info-row-four footer-info-row-three";
    max-width: 328px;
    @include margin_lr();
  }
  @include mq(small_tablet) {
    max-width: 605px;
  }
  @include mq(small_laptop) {
    display: block;
    max-width: 328px;
    padding-left: 18px;
    padding-right: 13px;
  }
  @include mq(large_laptop) {
    max-width: 318px;
    padding-left: 13px;
    padding-right: 13px;
  }
  @include mq(small_monitor) {
    max-width: 345px;
  }
}

.footer-info-row {
  margin-bottom: 45px;
  @include mq(small_laptop) {
    margin-bottom: 38px;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    margin-bottom: 50px;
  }
  span {
    &.footer-info-subtitle {
      margin-bottom: 7px;
      @include type(
        (
          size: 16px,
          height: 20px,
          family: $secondaryfont,
          color: $grey,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        margin-bottom: 15px;
      }
      @include mq(small_laptop) {
        flex-grow: 1;
      }
    }
    &.footer-info-content {
      @include type(
        (
          size: 17px,
          height: 25px,
          family: $primaryfont,
          color: $white,
          weight: 800,
        )
      );
      @include mq(small_tablet) {
        max-width: 185px;
      }
      a {
        color: $white;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $red;
        }
      }
    }
  }
  a.directions {
    display: inline-block;
    margin-top: 9px;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 13px,
        height: 17px,
        family: $secondaryfont,
        color: $grey,
        weight: 800,
        spacing: 1.3px,
        transform: uppercase,
      )
    );
    &:hover {
      color: $red;
    }
  }
  a.social-icon {
    margin: 5px 12px 0;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    @include mq(small_tablet) {
      margin: 0px 18px 0 0;
    }
    svg {
      height: 25px;
      path {
        fill: $white;
        transition: all 200ms ease-in-out;
      }
    }
    &:hover {
      svg {
        path {
          fill: $red;
        }
      }
    }
  }
}

.footer-info-row-inner {
  @include mq(small_laptop) {
    flex-basis: 175px;
    flex-shrink: 0;
    margin-top: -2px;
  }
}

.footer-info-row-one {
  grid-area: footer-info-row-one;
}
.footer-info-row-two {
  grid-area: footer-info-row-two;
}
.footer-info-row-four {
  grid-area: footer-info-row-four;
  @include mq(small_tablet) {
    margin-top: -15px;
    @include flex(null, center);
  }
  @include mq(small_laptop) {
    margin-top: 0px;
    padding-top: 7px;
  }
  span.footer-info-subtitle {
    @include mq(small_tablet) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}
.footer-info-row-three {
  grid-area: footer-info-row-three;
}

#copyright-wrapper {
  padding-top: 13px;
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    padding-top: 35px;
    margin-bottom: 25px;
  }
  @include mq(small_laptop) {
    padding-top: 58px;
    margin-bottom: 45px;
  }
  @include mq(large_laptop) {
    margin-bottom: 55px;
  }
  @include mq(small_monitor) {
    max-width: 1680px;
    @include margin_lr();
  }
  #copyright-inner {
    ul {
      list-style: none;
      max-width: 255px;
      text-align: center;
      @include margin_lr();
      @media screen and (min-width: 525px) {
        max-width: 100%;
      }
      @include mq(small_tablet) {
        text-align: left;
        @include margin_lr(0);
      }
      li {
        display: inline-block;
        @include type(
          (
            size: 14px,
            height: 20px,
            family: $primaryfont,
            color: $white,
            spacing: 0.7px,
          )
        );
        &::after {
          margin: 0 2px 0 7px;
          @include contentdisplay(inline-block, "|");
          @include mq(small_tablet) {
            margin: 0 5px 0 10px;
          }
        }
        &:last-of-type {
          &::after {
            display: none;
          }
        }
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
