.content {
  @include type(
    (
      size: 16px,
      height: 28px,
      family: $primaryfont,
      color: $bluedark,
    )
  );
  @include mq(small_tablet) {
    font-size: 17px;
    line-height: 30px;
  }
  h1 {
    margin-bottom: 20px;
    @include type(
      (
        size: 30px,
        height: 35px,
        family: $secondaryfont,
        weight: 800,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(45px, 45px, null);
    }
    @include mq(small_laptop) {
      @include quick_type(60px, 65px, null);
    }
  }

  h2 {
    margin-bottom: 20px;
    @include type(
      (
        size: 20px,
        height: 25px,
        family: $primaryfont,
        color: $red,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(22px, 30px, null);
    }
    @include mq(small_laptop) {
      padding-top: 20px;
      @include quick_type(23px, 27px, null);
    }
    @include mq(large_laptop) {
      @include quick_type(25px, 29px, null);
    }
  }
  h3 {
    margin-bottom: 10px;
    @include type(
      (
        size: 18px,
        height: 25px,
        family: $primaryfont,
        weight: 700,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      padding-top: 10px;
      font-size: 20px;
      padding-bottom: 15px;
    }
    @include mq(monitor) {
    }
  }
  h4 {
    padding-bottom: 20px;
    @include type(
      (
        size: 16px,
        height: 18px,
        family: $primaryfont,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(18px, 25px, null);
    }
  }
  ul,
  p {
    margin-bottom: 25px;
  }
  ul {
    margin-left: 15px;
    li {
      &::marker {
        color: $red;
      }
    }
  }
  a {
    font-weight: 700;
    color: $bluedark;
    text-decoration: underline;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $red;
    }
  }
  blockquote {
    padding-left: 44px;
    position: relative;
    @include type(
      (
        size: 25px,
        height: 30px,
        family: $secondaryfont,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      padding-left: 85px;
      padding-right: 70px;
      max-width: 660px;
      margin-top: 39px;
      padding-bottom: 10px;
      @include margin_lr();
      @include quick_type(35px, 35px, null);
    }
    @include mq(small_laptop) {
      padding-top: 27px;
      max-width: 100%;
      @include quick_type(35px, 40px, null);
    }
    @include mq(large_laptop) {
      @include quick_type(40px, 50px, null);
    }
    &::before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 37px 40px;
      border-color: transparent transparent $red transparent;
      @include abs(0, null, null, -5px);
      @include contentdisplay();
      @include mq(small_tablet) {
        border-width: 0 0 63px 69px;
        left: 0px;
      }
    }
    p {
      &.client-name {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.wp-block-image {
  &.alignleft {
    @media screen and (min-width: 1100px) {
      img {
        float: left;
        margin-right: 39px;
      }
    }
  }
  &.aligncenter {
    img {
      @include margin_lr();
    }
  }
  &.alignright {
    @media screen and (min-width: 1100px) {
      img {
        float: right;
        margin-left: 39px;
      }
    }
  }
  img {
    margin-top: 40px;
    margin-bottom: 30px;
    @include image();
    @include margin_lr();
    @include mq(small_tablet) {
      margin-top: 40px;
      margin-bottom: 60px;
    }
    @include mq(small_laptop) {
      margin-top: 50px;
    }
    @include mq(large_laptop) {
      margin-top: 70px;
      margin-bottom: 80px;
    }
  }
}
