#banner-wrapper {
  position: relative;
  img#banner-image {
    object-fit: cover;
    transform: translateX(-50%);
    @include box(100%, 100%);
    @include abs(0, null, null, 50%);
  }
}

#banner-content {
  position: relative;
  z-index: 1;
  padding: 153px 36px 36px;
  @media screen and (min-width: 675px) {
    padding: 131px 36px 27px;
  }
  @include mq(small_laptop) {
    padding: 174px 36px 57px;
  }
}

.banner-title {
  display: block;
  max-width: 345px;
  @include margin_lr();
  @include type(
    (
      size: 25px,
      height: 30px,
      family: $secondaryfont,
      color: $white,
      weight: 800,
      align: center,
    )
  );
  @media screen and (min-width: 675px) {
    max-width: 503px;
    @include quick_type(35px, 40px, null);
  }
  @include mq(small_laptop) {
    max-width: 727px;
    @include quick_type(50px, 55px, null);
  }
}
