#section-one {
  position: relative;
  @include box(100%, auto);
}

#sec-one-inner {
  position: relative;
  z-index: 1;
  &::after {
    @include mq(small_laptop) {
      display: block;
      right: -73px;
      bottom: -324px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 762px 337px;
      border-color: transparent transparent $red transparent;
      @include abs(null, 0, 0, null);
      @include contentdisplay();
    }
  }
}

#sec-one-left {
  text-align: center;
  padding: 0 30px 35px;
  position: relative;
  padding-top: 205px;
  @include mq(small_tablet) {
    padding: 205px 53px 116px;
  }
  @media screen and (min-width: 975px) {
    padding: 205px 53px 150px;
  }
  @media screen and (min-width: 1075px) {
    padding: 205px 53px 170px;
  }
  @include mq(small_laptop) {
    padding: 205px 91px 170px 80px;
  }
  @include mq(large_laptop) {
    padding: 205px 91px 189px 137px;
  }
  @include mq(small_monitor) {
    padding: 205px 151px 134px 137px;
  }
  &::after {
    @include mq(small_tablet) {
      display: block;
      right: -73px;
      bottom: -324px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 520px 476px;
      border-color: transparent transparent $red transparent;
      @include abs(null, 0, 0, null);
      @include contentdisplay();
    }
    @include mq(small_laptop) {
      display: none;
    }
  }
  span {
    display: block;
  }
}

#sec-one-left-content {
  position: relative;
  z-index: 1;
  @media screen and (min-width: 1075px) {
    padding-top: 45px;
  }
  @include mq(small_laptop) {
    padding-top: 64px;
  }
  @include mq(large_laptop) {
    padding-top: 27px;
  }
  @include mq(small_monitor) {
    max-width: 1530px;
    @include margin_lr();
  }
}

span#sec-one-subtitle {
  max-width: 250px;
  @include margin_lr();
  @include type(
    (
      size: 15px,
      height: 20px,
      family: $primaryfont,
      color: $greytwo,
      weight: 800,
      spacing: 2.5px,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    text-align: left;
    max-width: 297px;
    @include margin_lr(0);
    @include quick_type(17px, 20px, null);
  }
  @media screen and (min-width: 1075px) {
    max-width: 507px;
  }
  @include mq(small_laptop) {
    @include quick_type(17px, 20px, null);
  }
  @include mq(large_laptop) {
    max-width: 537px;
    @include quick_type(18px, 20px, null);
  }
}

#sec-one-image {
  position: relative;
  margin-top: 20px;
  @include margin_lr();
  @include box(263px, 239px);
  @include mq(small_tablet) {
    margin-top: 0px;
    @include box(316px, 409px);
    @include abs(-30px, 0px, null, null, 1);
  }
  @include mq(small_laptop) {
    top: 0;
    @include box(459px, 595px);
  }
  @include mq(large_laptop) {
    top: -20px;
    @include box(492px, 638px);
  }
  @include mq(monitor) {
    top: -7px;
    @include box(584px, 757px);
  }
  img {
    width: 100%;
    @include abs(0, null, null, 0);
  }
}

span#sec-one-title {
  margin-top: 18px;
  margin-bottom: 20px;
  max-width: 470px;
  @include margin_lr();
  @include type(
    (
      size: 33px,
      height: 38px,
      family: $secondaryfont,
      color: $white,
      weight: 800,
    )
  );
  @include mq(small_tablet) {
    text-align: left;
    max-width: 335px;
    margin-bottom: 15px;
    @include margin_lr(0);
    @include quick_type(45px, 45px, null);
  }
  @media screen and (min-width: 975px) {
    max-width: 410px;
  }
  @media screen and (min-width: 1075px) {
    max-width: 610px;
  }
  @include mq(small_laptop) {
    margin-top: 24px;
    margin-bottom: 26px;
    max-width: 590px;
    @include quick_type(60px, 60px, null);
  }
  @include mq(large_laptop) {
    @include quick_type(65px, 70px, null);
  }
  @include mq(small_monitor) {
    margin-top: 30px;
    margin-bottom: 39px;
    max-width: 790px;
    @include quick_type(80px, 80px, null);
  }
}

a#sec-one-button {
  max-width: 302px;
  @include margin_lr();
  @include mq(small_tablet) {
    padding: 25px 20px;
    @include margin_lr(0);
  }
  @include mq(small_laptop) {
    max-width: 356px;
    padding: 30px 20px;
  }
}

#sec-one-right {
  background: $bluedark;
}

#sec-one-right-inner {
  text-align: center;
  @include flex(space-between, center);
  @include mq(small_laptop) {
    width: calc(100% - 207px);
  }
  @include mq(large_laptop) {
    width: calc(100% - 385px);
  }

  @media screen and (min-width: 2275px) {
    max-width: 1920px;
    @include margin_lr();
  }
}

.sec-one-arrow {
  background: $red;
  flex-shrink: 0;
  position: relative;
  transition: background 200ms ease-in-out;
  @include box(33px, 49px);
  @include mq(small_laptop) {
    display: none;
  }
  &::before,
  &::after {
    background: $white;
    position: absolute;
    left: 9px;
    top: 20px;
    @include box(12px, 2px);
    @include contentdisplay();
  }
  &:hover {
    background: $grey;
  }
  &.sec-one-arrow-left,
  &.sec-one-arrow-right {
    &::after {
      top: 27px;
    }
  }
  &.sec-one-arrow-left {
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  &.sec-one-arrow-right {
    &::before,
    &::after {
      left: 13px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

#sec-one-slider {
  padding: 0px 30px;
  width: calc(100% - 66px);
  @include mq(small_tablet) {
    padding: 17px 30px;
    position: relative;
  }
  @include mq(small_laptop) {
    padding: 29px 0px;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 33px 0px 50px;
  }
  &::after {
    @include mq(small_tablet) {
      background: $bluedark;
      @include abs(0, 30px, null, null, 1);
      @include box(4px, 100%);
      @include contentdisplay();
    }
    @include mq(small_laptop) {
      display: none;
    }
  }
}

.sec-one-single-slide {
  padding: 42px 0;
  @include mq(small_tablet) {
    padding: 29px 16px 40px;
    border-right: 1px solid #283243;
  }
  @include mq(small_laptop) {
    padding: 29px 37px 60px;
  }
  @include mq(large_laptop) {
    padding: 29px 40px 35px;
  }
  &:last-of-type {
    border-right: none;
  }
  .sec-one-single-icon {
    position: relative;
    @include margin_lr();
    @include box(39px, 37px);
    @include mq(small_laptop) {
      @include box(45px, 47px);
    }
    img {
      width: 100%;
      @include abs(0, null, null, 0);
    }
  }
  span {
    color: $white;
    display: block;
    &.sec-one-single-title {
      margin-top: 20px;
      @include type(
        (
          size: 22px,
          height: 26px,
          family: $secondaryfont,
          weight: 800,
          transform: uppercase,
        )
      );
      @include mq(small_laptop) {
        margin-top: 25px;
        font-size: 24px;
      }
      @include mq(small_monitor) {
        font-size: 24px;
      }
    }
    &.sec-one-single-descrip {
      margin-top: 10px;
      max-width: 326px;
      @include margin_lr();
      @include type(
        (
          size: 15px,
          height: 22px,
          family: $primaryfont,
          color: $greytwo,
        )
      );
      @include mq(small_tablet) {
        max-width: 290px;
      }
      @include mq(small_laptop) {
        margin-top: 15px;
        line-height: 25px;
      }
    }
  }
}

#sec-one-triangle {
}

img#hero-image {
  object-fit: cover;
  @include box(100%, 100%);
  @include abs(0, null, null, 0);
}
