////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

// $red: #c61f20;
// $grey: #8e99ac;
// $greytwo: #d8dfeb;
// $white: #fff;
// $bluedark: #07121c;
// $bluemed: #1e2633;
// $bluelight: #253245;

$red: #c61f20;
$redgradient: linear-gradient(to bottom, #db3b23 0%, #c61f20 52%);
$grey: #91969f;
$greytwo: #ededed;
$white: #fff;
$bluedark: #131415;
$bluemed: #1e2633;
$bluelight: #262b2f;
