////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$red: #c61f20;
$grey: #8e99ac;
$greytwo: #d8dfeb;
$white: #fff;
$bluedark: #07121c;
$bluemed: #1e2633;
$bluelight: #253245;
