#section-four {
  padding: 35px 0px;
  @include mq(small_tablet) {
    padding: 60px 0px;
  }
  @include mq(small_laptop) {
    padding: 114px 0px;
  }
  @include mq(large_laptop) {
    padding: 136px 0px 180px;
  }
}

#sec-four-top,
#sec-four-bottom {
  padding: 0px 30px;
  @include mq(small_tablet) {
    padding: 0px 90px;
  }
  @include mq(small_laptop) {
    padding: 0px 155px;
  }
  @include mq(large_laptop) {
    padding: 0px 205px;
  }
  @include mq(small_monitor) {
    max-width: 1375px;
    @include margin_lr();
  }
}

#sec-four-middle {
  padding: 0 20px;
  @include mq(small_tablet) {
    padding: 0;
  }
  @include mq(small_laptop) {
    @include flex();
    padding: 0 155px 35px 90px;
  }
  @include mq(small_monitor) {
    max-width: 1430px;
    padding: 0 220px 59px 0;
    @include margin_lr();
  }
}

#sec-four-middle-quote {
  position: relative;
  padding: 28px 9px 28px 22px;
  max-width: 400px;
  @include margin_lr();
  @include type(
    (
      size: 33px,
      height: 38px,
      family: $secondaryfont,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    padding: 44px 46px 25px 46px;
    max-width: 570px;
    @include quick_type(43px, 50px, null);
  }
  @include mq(small_laptop) {
    flex-basis: 450px;
    flex-shrink: 0;
    padding: 44px 0px 25px 53px;
    margin-top: 50px;
    margin-right: 35px;
  }
  @include mq(large_laptop) {
    padding: 37px 0px 25px 53px;
    flex-basis: 550px;
    margin-right: 50px;
    @include quick_type(55px, 65px, null);
  }
  @include mq(small_monitor) {
    padding: 37px 0px 25px 120px;
    flex-basis: 640px;
    max-width: 100%;
  }
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 89px 89px;
    border-color: transparent transparent $red transparent;
    @include abs(0, null, null, 0px, -1);
    @include contentdisplay();
    @include mq(small_tablet) {
      border-width: 0 0 77px 77px;
    }
  }
  br {
    display: none;
    @include mq(small_laptop) {
      display: inline-block;
    }
  }
  p {
    margin-bottom: 10px;
  }
}

#sec-four-middle-content {
  padding: 0px 10px;
  @include mq(small_tablet) {
    padding: 0px 90px;
  }
  @include mq(small_laptop) {
    padding: 0px 0px 0 0;
    margin-top: 82px;
  }
  @include mq(large_laptop) {
    margin-top: 80px;
  }
  @include mq(small_monitor) {
    //margin-top: 80px;
  }
}

#sec-four-bottom {
}
